AddDefaultCharset UTF-8
# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Запрещаем просмотр содержимого папок
  Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
    Options +SymLinksIfOwnerMatch
  # Включаем mod_rewrite
  RewriteEngine On
  IndexIgnore */*
  # Перенаправляем administrator на входной скрипт админки
  RewriteRule ^secure(.*)?$ /backend/web/$1 [L,PT]
  RewriteRule ^api(.*)?$ /api/web/$1 [L,PT]
  # Перенаправляем все запросы на входной скрипт
  RewriteRule ^([^/].*)?$ /frontend/web/$1
</IfModule>