
body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  position: relative;
  height: 100vh;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
}

select {
  outline: none;
  text-decoration: none;
  border: none;
}

.select2-container .select2-selection--single {
  outline: none !important;
}

.container {
  width: 98%;
  padding: 0;
  position: relative;
  margin: 0 auto;
}

.btn-active {
  display: none;
}

/* Шар внизу страницы */
div#imgRed {
/*  width: 350px;
  position: absolute;
  height: 350px;
  background-color: #dd3d34;
  !*  border-radius: 0 100% 0 0 / 100% 100% 0 0;*!
  border-radius: 50%;
  bottom: -60%;
  z-index: -1;
  left: 5%;
  transform: translateX(-50%);*/

}

.background__content {
  overflow: hidden;
  z-index: -1;
  position: relative;
  width: 100%;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*  bottom: -100px;*/
}


/*.background__content>div img {
  z-index: -2;
  position: absolute;
  display: block;
  width: 260px;
  height: 260px;
}*/

.background__content > div:before {
/*  z-index: -1;
  content: "";
  position: absolute;
  display: block;
  width: 545px;
  height: 545px;
  border-radius: 50%;
  background-color: #dd3d34*/
}

.background-top {

}

.background-bottom {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #dd3d34;
  box-shadow: 29px 29px 29px 29px rgba(105, 105, 105, 0.24);
  bottom: -260px;
  left: -240px;
}
.background-bottom > img {

}

.background__pointer_bottom {

}

.footer {
  bottom: 0;
  position: relative;
  margin-top: -250px;
  z-index: -1;
}

/* Шар внизу страницы конец */

@media screen and (max-width: 1096px) {


  .content_vacancy {
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-around;
  }

  .content_advertising__single {
    max-height: 450px;
  }

  .content-single {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .background__content {
    display: none;
  }
}
@media screen and (max-width: 583px) {
  .content_vacancy {
    flex-direction: column;
    margin-top: -60px;
    position: relative;
    z-index: -1;
  }

  .content_advertising__single {
    margin: 5px auto;
  }

  #imgRed {
    left: -150px;
  }

}
/*
.svgRelative__sup_position {
  right: 165px;
  top: -15px;
}*/
