.cabinet__add-company-form--social-element .social-wrap__item img {
    width: 12px;
    height: 12px;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    top: 33%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.media__upload_img{
    margin-bottom: 10px;
    float: left;
}

.input-group {
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
}

.itemImg, .itemImgs{
    float: left!important;
    display: inline-block;
    width: 30%!important;
}

.media__upload_img img{
    margin: 3px;
    object-fit: cover;
}

.contentLoginAdmin{
    margin-left: 0;
}

.dt_public_box {
    display: none;
    padding-bottom: 20px;
}

.dt_public_box_link {
    margin-top: 20px;
    margin-bottom: 20px;
}

#sub_categ_company {
    margin-top: 10px;
}

.pa {
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
}

.pa input {
    margin-top: 5px;
}

.pa a {
    margin-top: 5px;
}

.polls-view .pa p{
    display: inline-block;
}

.hidden {
    display: none;
}

.breadcrumb {
    background: none !important;
}
