@font-face {
    font-family: 'Muller';
    src: url('MullerRegular.eot');
    src: local('Muller Regular'), local('MullerRegular'),
        url('MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('MullerRegular.woff2') format('woff2'),
        url('MullerRegular.woff') format('woff'),
        url('MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerMedium.eot');
    src: local('Muller Medium'), local('MullerMedium'),
        url('MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('MullerMedium.woff2') format('woff2'),
        url('MullerMedium.woff') format('woff'),
        url('MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerBold.eot');
    src: local('Muller Bold'), local('MullerBold'),
        url('MullerBold.eot?#iefix') format('embedded-opentype'),
        url('MullerBold.woff2') format('woff2'),
        url('MullerBold.woff') format('woff'),
        url('MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('MullerExtraBold.eot');
    src: local('Muller ExtraBold'), local('MullerExtraBold'),
        url('MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MullerExtraBold.woff2') format('woff2'),
        url('MullerExtraBold.woff') format('woff'),
        url('MullerExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

