.search-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
  z-index: 1;
}

.search-pagination li a, .search-pagination li span {
  margin-right: 5px;
  padding: 8px 10px;
  font-family: AvenirNextCyr-Demi, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #262626;
  background-color: #f7f6f6;
  border-radius: 2px;
  text-decoration: none;
  transition: all ease .5s;
}

.search-pagination li a:hover, .search-pagination li span:hover {
  background-color: #dddddd;
  transition: all ease .3s;
}

.search-pagination .prev.disabled span:hover, .search-pagination .next.disabled span:hover {
  background-color: transparent;
}

.search-pagination .active a, .search-pagination .active span {
  background-color: #dddddd;
  transition: all ease .3s;
}

.v-content-top {
  margin-left: 0;
  justify-content: center;
}

@media (max-width: 992px) {
  .v-content-bottom__center {
    width: 100%;
  }
}

.select2-results__option {
  min-height: 28px;
}

.v-content-bottom__center .single-card .btn-card {
  margin-bottom: 5px;
}

.resume-top__left {
  width: 166px;
  height: auto;
}
.help-block {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  color:red;
}

.form-group  {
  position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  padding: 0 10px;
}

.v-content-bottom__center .single-card__title {
  text-decoration: none;
}

.v-content-bottom__center .single-card__title:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.create__resume__button {
  max-width: 200px;
}

.professions_search_input {

}

.geolocation .geolocation__block .select2-container {
  width: 200px !important;
}

.remove-country {
  position: absolute;
  right: 27px;
  top: 7px;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}