.search-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 20px auto;
  padding: 0;
  list-style: none;
  z-index: 1;
}

.search-pagination li a, .search-pagination li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  text-decoration: none;
}

.search-pagination li a:hover {
  background-color: #86dfff;
}

.search-pagination li span {
  background-color: #b6c3ca;
}

.v-content-top {
  margin-left: 0;
  justify-content: center;
}

@media (max-width: 992px) {
  .v-content-bottom__center {
    width: 100%;
  }
}

.select2-results__option {
  min-height: 28px;
}

.v-content-bottom__center .single-card .btn-card {
  margin-bottom: 5px;
}

.resume-top__left {
  width: 166px;
  height: auto;
}
.single-card__title {
  display: block;
  text-decoration: none;
}