@font-face {
    font-family: 'Muller';
    src: url("../fonts/muller/MullerBold.otf");
    font-weight: 700;
    font-style: normal;
    font-display: swap; }

.banner-advertising {
    display: flex;
    align-items: center;
    width: 650px;
    margin: 15px 10px;
    padding: 30px 51px 13px 25px;
    border-radius: 10px;
    background-color: #ddf0fb;
    box-sizing: inherit;
}

.banner-advertising > img {
    margin-right: 30px;
    max-width: 148px;
}

.banner-advertising__right {
    display: flex;
    flex-direction: column;
}

.banner-advertising__right h3 {
    margin: 0 0 5px;
    color: #0f0000;
    font-size: 20px;
    font-weight: 700;
    font-family: "Muller",sans-serif;
}

.banner-advertising__right-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-advertising__right-bottom > img {
    width: 140px;
    height: auto;
    margin-top: 15px;
}

.banner-advertising__right-bottom .btn-card {
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
}
.btn-card {
    display: inline-block;
    padding: 7px 15px 5px;
    font-weight: 500;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    letter-spacing: .43px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-red {
    color: #fff;
    background-color: #dd3d34;
}